<html style= "background-color: White">
  <div style="background-color: Green; height:4px;">  </div> 


<div style= "background-color: Red">
<div id="wrapper">
  <div id="left" style="margin: 80px;">
    
  </div>    
  
  <div id="right">
  write a bit here
  </div>
</div>

</div>

</html>
